## Ignore emacs files
*~

## Ignore object files
*.o

## Ignore oct files
*.oct

## Ignore generated INDEX
INDEX

## Ignore generated log file
fntests.log

## Ignore tarball
oct-hdf5.tar.gz

## Ignore all files in the docs dir
docs/*

## Ignore all files in the distributed testdir
inst/testdir/*
